html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%; }

main {
  display: block;
  margin: auto; }

.sidebar-wrapper {
  max-width: 100%;
  float: left; }
  @media screen and (min-width: 60em) {
    .sidebar-wrapper {
      width: 20%; } }

.main-wrapper {
  max-width: 100%;
  float: left; }
  @media screen and (min-width: 60em) {
    .main-wrapper {
      width: 80%; } }

.product-grid__item {
  width: 100%; }
  @media (min-width: 40em) {
    .product-grid__item {
      width: 50%; }
      .product-grid__item:nth-child(2n+1) {
        clear: left; }
      .product-grid__item:nth-child(1n+1) {
        clear: none; } }
  @media (min-width: 60em) {
    .product-grid__item {
      width: 33%; }
      .product-grid__item:nth-child(3n+1) {
        clear: left; }
      .product-grid__item:nth-child(2n+1) {
        clear: none; } }
  @media (min-width: 100em) {
    .product-grid__item {
      width: 25%; }
      .product-grid__item:nth-child(3n+1) {
        clear: none; } }
  @media (min-width: 140em) {
    .product-grid__item {
      width: 16.5%; }
      .product-grid__item:nth-child(6n+1) {
        clear: left; }
      .product-grid__item:nth-child(5n+1) {
        clear: none; } }

li.product-grid__item {
  float: left;
  padding: 0.5em 0; }

aside {
  max-width: 30em; }

.sidebar-header {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 1.25em; }

.product-grid {
  text-align: center; }

.product-image {
  display: block;
  margin: 0 auto; }

.item-content {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto; }

.item-color-list {
  display: inline-block;
  margin: 0 auto; }

.color-swatch {
  float: left;
  max-width: 1.75em;
  margin: 0.125em; }

.active-swatch {
  box-sizing: border-box;
  padding: 0.125em;
  border: 1px #f26525 solid; }

.product-title {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 900;
  margin: 0.5em 0 0;
  text-decoration: none;
  color: #000; }
  .product-title:hover {
    color: #f26525; }

.registered-symbol {
  font-size: 0.75em;
  position: relative; }

.trademark-symbol {
  position: relative;
  line-height: 0.25em; }

.is-active {
  box-sizing: border-box;
  padding: 0.125em;
  border: 1px #f26525 solid; }
