main {
  max-width: 120em;
}
.sidebar-wrapper {
  max-width: 100%;
  float: left;
  @media screen and (min-width: $large) {
    width: 20%;
  }
}
.main-wrapper {
  max-width: 100%;
  float: left;
  @media screen and (min-width: $large) {
    width: 80%;
  }
}
.product-grid__item {
  width: 100%;
  @media (min-width: $medium) {
    width: 50%;
    
  }
  @media (min-width: $large) {
    width: 33%;
  }
  @media (min-width: $x-large) {
    width: 25%;
  }
  @media (min-width: $xx-large) {
    width: 16.5%;
  }
}
li.product-grid__item {
    float: left;
    padding: 0.5em 0;
}