main {
  max-width: XXem;
}

.sidebar-wrapper {
  max-width: 100%;
  float: left;
  @media screen and (min-width: $large) {
    width: 20%;
  }
}

.main-wrapper {
  max-width: 100%;
  float: left;
  @media screen and (min-width: $large) {
    width: 80%;
  }
}
