$font-stack: 'Lato', Helvetica, sans-serif;
$primary-color: #F26525;
$secondary-color : #3E2F80;
$dim-grey: #AAA;
$dark-grey: #555;
$small: 20em;
$medium: 40em;
$large: 60em;
$x-large: 100em;
$xx-large: 140em;